@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  body {
    background-color: #121212;
  }

  p{
    color: #FFFFFF;
    font-family: 'Inter';
  }
}

a {
  z-index: 1;
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF7A6B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFF; 
}